        <%-  include('./partials/head.ejs', {title: 'Contact'} ) %> 
    
        <div class="container">
    
            <% include partials/nav.ejs %>

            <h1>Contact me</h1>
            <div class="tips">
                <p class="pre-fill"><a href="/contact?name=Martin&dept=Sales&contact=John&email=hello@martindm.uk">Click to pre-fill the form via query strings</a></p>
                <p>...then submit it to pass the data on</p> 
            </div>
         
            <form action="" class="contact-form" id="contact-form" method="POST" action="/contact">
                <label for="yourname">Your first name</label>
                <input type="text" name="yourname" value="<%=qs.name %>">
                <label for="who">Who do you want to contact?</label>
                <input type="text" name="who" value="<%=qs.contact %>">
                <label for="dept">Which department?</label>
                <input type="text" name="department" value="<%=qs.dept %>">
                <label for="email">Your email</label>
                <input type="email" name="email" value="<%=qs.email %>">
                <input type="submit" value="submit">
            </form> 
        
        </div>
    </body>
</html>